**/dist/**
**/node_modules/**
**/server.js
**/webpack.config*.js
**/flow-typed/**
**/scripts/module_templates/**

**/.babelrc
**/.circleci
**/.env.example
**/.esdoc.json
**/.flowconfig
**/.git
**/.github
**/.gitignore
**/.prettierignore
**/.prettierrc
**/.stylelintrc
**/README.md
**/flow-typed
**/package.json
**/renovate.json
**/yarn.lock

